<li class="nav-item"><a class="nav-link" href="#"> Services </a></li>
<li class="nav-item dropdown">
  <a class="nav-link  dropdown-toggle" href="#" data-toggle="dropdown">  More items  </a>
    <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#"> Submenu item 1</a></li>
    <li><a class="dropdown-item" href="#"> Submenu item 2 </a></li>
    <li><a class="dropdown-item" href="#"> Submenu item 3</a></li>
    <li><a class="dropdown-item" href="{% url 'pages-about' %}">About</a></li>
    <li><a class="dropdown-item" href="{% url 'pages-home' %}">Home</a></li>
    </ul>
</li>
