{% extends 'converter/upload.html' %}

{% block table %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;
  background-color: #f1f1c1;
}
</style>
<div class="container row p-4">
  <div class="table-responsive">
    {% for line in logs %}
    <table class="table mx-auto">
      {% if line.type == 1  %}
      <thead class="thead-dark">
        <tr>
          <th scope="col">Rank</th>
          <th scope="col">KillScore</th>
          <th scope="col">RankScore</th>
          <th scope="col">TotalScore</th>
        </tr>
      </thead>
      {% else %}
      <thead class="thead-light">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">ID</th>
        </tr>
      </thead>
      {% endif %}

      <tbody>
        {% for item in line.content %}
        <td>{{ item }}</td>
        {% endfor %}
      </tbody>


    </table>
    {% endfor %}
  </div>
</div>


{% endblock %}
