{% extends 'converter/upload.html' %}
{% load static %}
{% load hide_values %}
{% block head %}

{{ block.super }}

<link rel="stylesheet" href="{% static 'css/sortable-theme-bootstrap.css' %}">
{% endblock head %}

{% block table %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;
  background-color: #f1f1c1;
}
</style>
<div class="container row p-4">
  <div class="table-responsive">
    <table class="table mx-auto sortable-theme-bootstrap w-75" data-sortable>
      <thead class="thead-light">
        <tr>
          {% if team_size == 1 %}
            <th data-sortable="true">Игрок</th>
          {% else %}
            <th data-sortable="true">Команда</th>
          {% endif %}
          <th data-sortable="true">Убито</th>
          <th data-sortable="true">Всего очков</th>
        </tr>
      </thead>
      <tbody>
      {% for row in logs %}
        <tr>
          {% for item in row|hide_values %}
            <td>{{ item }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
</div>




{% endblock %}


{% block javascript %}

<script type="text/javascript">
  $(document).ready(function () {

    // Load sortable table script
    // Only after page is fully loaded

    var scriptElement=document.createElement('script');
    scriptElement.type = 'text/javascript';
    scriptElement.src = "{% static 'plugins/sortable/js/sortable.min.js' %}";
    document.head.appendChild(scriptElement);

  });
  //
</script>
{% endblock javascript %}
