{% extends 'converter/upload.html' %}

{% block table %}

<style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
#t01 {
  width: 100%;
  background-color: #f1f1c1;
}
</style>
<div class="container row p-4">
  <div class="table-responsive">
    <table class="table mx-auto">
      <thead class="thead-light">
        <tr>
          <th scope="col">Team</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Kills</th>
        </tr>
      </thead>
      {% for row in logs %}
      <tbody>
        {% for item in row %}
        <td>{{ item }}</td>
        {% endfor %}
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>


{% endblock %}
